:root {
  --primary-color: #522600;
  --secondary-color: #723602;
  --terciary-color: #ffd69c;
  --nav-link-color: #595c5f;
  --heading-font: "Playfair Display", serif;
  --subheading-font: "Poppins", sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
}

p {
  font-family: var(--subheading-font);
  font-weight: normal;
}

.align-top {
  vertical-align: top;
}

/* HEADER*/
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 35px;
  font-weight: 600;
  margin-left: 10px;
}

nav {
  padding: 15px 0;
}

.container-heading {
  padding: 10px;
  margin: 0 15px;
}

.container-heading-logo {
  max-height: 20px;
  vertical-align: baseline;
}

.container-heading h3 {
  font-size: 25px;
  color: var(--primary-color);
}

.container-heading a {
  text-decoration: none;
  color: var(--nav-link-color);
  transition: all 130ms ease-in-out;
}

nav li.active a,
.container-heading a:hover {
  color: var(--secondary-color);
}

@media (max-width: 400px) {
  .container-heading {
    padding: 0;
    margin: 0 10px;
  }

  .container-heading-logo {
    max-height: 15px;
    vertical-align: baseline;
  }

  .container-heading h3 {
    font-size: 20px;
  }

  nav li {
    line-height: 25px;
    margin-left: 5px;
  }

  .container-heading a {
    font-size: 13px;
  }
}

/*MAIN*/

.hero {
  background: var(--terciary-color);
  text-align: center;
  padding: 70px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-color);
  margin: 0;
}

.hero h1 {
  font-size: 70px;
  font-weight: bold;
  color: var(--primary-color);
}

.hero h2 {
  font-family: var(--subheading-font);
  font-size: 24px;
  line-height: 2;
  color: var(--secondary-color);
}

.logo {
  width: 25px;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 20px;
  color: white;
  font-size: 18px;
  line-height: 20px;
  padding: 18px 20px;
}

.btn-branding:hover {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--terciary-color);
  transition: ease-in-out;
}

.container {
  padding: 16px;
}

.container img {
  border-radius: 7px;
}

.container h2 {
  font-size: 50px;
  color: var(--primary-color);
}

.container p {
  font-size: 16px;
  font-weight: normal;
  text-align: justify;
  color: var(--secondary-color);
  line-height: 30px;
  opacity: 0.7;
}

.btn-project {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 5px;
  padding: 18px 18px;
}

.btn-project:hover {
  background: white;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: ease-in-out 0.3s;
}

.project-description {
  padding: 50px 60px;
}

@media (max-width: 993px) {
  .project-description {
    padding: 25px 30px;
    width: 50%;
  }

  .container h2 {
    font-size: 25px;
    color: var(--primary-color);
  }

  .container p {
    font-size: 10px;
    font-weight: normal;
    text-align: justify;
    color: var(--secondary-color);
    line-height: 15px;
    opacity: 0.7;
  }

  .btn-project {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 10px;
    width: 50%;
  }
}

@media (max-width: 773px) {
  .project-description {
    padding: 0;
  }

  .container h2 {
    text-align: center;
  }

  .btn-project {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
  }
}

@media (max-width: 350px) {
  .hero h1 {
    font-size: 45px;
  }

  .hero p {
    font-size: 20px;
  }

  .hero h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .btn-project {
    display: block;
    margin: auto;
    text-align: center;
    width: 80%;
  }
}

/*ABOUT ME*/

.content-container {
  padding: 90px 20px;
}

.content-container h1 {
  font-size: 50px;
  line-height: 60px;
  color: var(--primary-color);
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--subheading-font);
}

.content-container p {
  font-size: 13px;
  line-height: 25px;
}

.content {
  text-align: center;
  padding: 10px 20px;
}

/*MY WORK*/

.work-container p {
  text-align: center;
}

.work-container h3 {
  font-family: var(--subheading-font);
  font-weight: bold;
  color: var(--primary-color);
}

.work-logo {
  width: 35px;
}

@media (max-width: 768px) {
  .work-container h1 {
    font-size: 35px;
    line-height: 40px;
  }

  .work-logo {
    width: 30px;
  }
}

/*CONTACT ME*/

.body-BG {
  background: var(--terciary-color);
}

.contact-container h3 {
  color: var(--primary-color);
}

.contact-container p {
  font-size: 13px;
  line-height: 15px;
}

.contact-container a {
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-container a:hover {
  color: white;
}

/*FOOTER*/

footer .email-link {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--primary-color);
}

footer .email-link:hover {
  color: var(--terciary-color);
}

footer .social-links a {
  padding: 10px 16px;
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--terciary-color);
  font-size: 18px;
  border-radius: 100%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

@media (max-width: 370px) {
  footer .social-links a {
    padding: 6px 11px;
    font-size: 15px;
    margin: 0 10px;
  }
}

/*CONTACT BOX*/

.contact-box {
  padding: 20px 60px;
  border-radius: 3px;
  background-color: var(--terciary-color);
}

.contact-box h4 {
  color: var(--primary-color);
  font-size: 48px;
}

.contact-box p {
  margin: 0;
}
